---
import type { AvailableLanguage } from '@src/i18n/i18n'
import NoLayout from '@src/layouts/NoLayout.astro'
import ReviewPage from '@src/components/user/reviews/UserReviewPage'

export function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'th' } }]
}

const { lang } = Astro.params
---

<head>
  <title>Shiftwave | Feedback</title>
</head>

<NoLayout>
  <ReviewPage client:only lang={lang as AvailableLanguage} />
</NoLayout>
