@font-face {
  font-family: 'Kanit';
  src: url('../assets/Kanit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/Kanit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/Kanit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../assets/Kanit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --font-primary: 'Kanit', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
}

p {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
}

span.ant-typography {
  font-family: var(--font-primary);
}

ul.ant-menu.ant-menu-root {
  height: inherit;
}
